{% load static %}
<footer class="footer">
    <div class="row">
        <div class="col-md-4">
                <img src="{% static 'images/footer-logo.png' %}" alt="" class="footer-logo">
        </div>
        <div class="col-md-8 py-5">
            <div class="d-flex flex-column flex-md-row footer-menus-options">
                <div class="d-flex menu flex-column mr-0 mr-sm-3">
                    <a href="" class="menu-link">climbing</a>
                    <a href="" class="menu-link">yoga & fitness</a>
                    <a href="" class="menu-link">youth programs</a>
                    <a href="" class="menu-link">tours</a>
                </div>
                <div class="d-flex menu flex-column mr-0 mr-sm-3">
                    <a href="" class="menu-link ">special events</a>
                    <a href="" class="menu-link">calendar</a>
                    <a href="" class="menu-link">lounge & coffee</a>
                    <a href="" class="menu-link">buy gear</a>
                </div>
                <div class="d-flex menu flex-column mr-0 mr-sm-3">
                    <a href="" class="menu-link">about us</a>
                    <a href="" class="menu-link">contact</a>
                </div>
                <div class="d-flex options flex-column mr-0 mr-sm-3">
                    <a href="" class="option-link">Membership</a>
                    <a href="" class="option-link">Subscribe</a>
                    <a href="" class="option-link">online waiver</a>
                    <a href="" class="option-link">hueco tanks tour</a>
                </div>
                <div class="d-flex address flex-column mr-0 mr-sm-3">
                    <span class="">1775 Cimarron Rialto Square<br> El pasco, Tx 7992<br> Map</span>
                    <span>Hours: m-th 9-9 f-su 9-11</span>
                </div>
                <div class="d-flex flex-column mr-0 mr-sm-3">
                    <span class="phone-no mb-1">(915)443-0340</span>
                    <div class="d-flex social-links ">
                        <a href="" class="social-link mr-1">
                            <img src="{% static 'images/social/facebook_f.png' %}" alt="">
                        </a>
                        <a href="" class="social-link mr-1">
                            <img src="{% static 'images/social/twitter_f.png' %}" alt="">
                        </a>
                        <a href="" class="social-link mr-1">
                            <img src="{% static 'images/social/insta_f.png' %}" alt="">
                        </a>
                        <a href="" class="social-link mr-1">
                            <img src="{% static 'images/social/youtube_f.png' %}" alt="">
                        </a>
                    </div>
               </div>
            </div>
        </div>
    </div>
</footer>