{% load static %}
<header class="header">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="logo-area d-flex">
                <img src="{% static 'images/logo-art.png' %}" alt="" class="logo-art">
                <img src="{% static 'images/logo-01.png' %}" alt="" class="logo">
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <div class="header-menus-options d-flex flex-column flex-md-row py-3 px-2">
                <div class="d-flex  menu flex-column mr-0 mr-sm-3">
                 <a href="" class="menu-link">Climbing</a>
                 <a href="" class="menu-link">Yoga & Fitness</a>
                 <a href="" class="menu-link">Youth Programs</a>
                 <a href="" class="menu-link">Tours</a>
                </div>
                <div class="d-flex menu flex-column mr-0 mr-sm-3">
                 <a href="" class="menu-link">Special Events</a>
                 <a href="" class="menu-link">calendar</a>
                 <a href="" class="menu-link">Lounge & Coffee</a>
                 <a href="" class="menu-link">Buy Gear</a>
                </div>
                <div class="d-flex menu flex-column mr-0 mr-sm-3">
                 <a href="" class="menu-link">About us</a>
                 <a href="" class="menu-link">Contact</a>
                </div>
                <div class="option d-flex flex-column mr-0 mr-sm-3">
                 <a class="option-link">Memberships</a>
                 <a class="option-link">Subscribe</a>
                 <a class="option-link">Online Waiver</a>
                 <a class="option-link">Hueco Tanks Tour</a>
                 </div>
                 <div class="d-flex flex-column">
                     <span class="phone-no">(915)443-0340</span>
                     <div class="d-flex social-links ">
                         <a href="" class="social-link mr-1">
                             <img src="{% static 'images/social/facebook_h.png' %}" alt="">
                         </a>
                         
                         <a href="" class="social-link mr-1">
                             <img src="{% static 'images/social/twitter_h.png' %}" alt="">
                         </a>
                         <a href="" class="social-link mr-1">
                             <img src="{% static 'images/social/insta_h.png' %}" alt="">
                         </a>
                         <a href="" class="social-link mr-1">
                             <img src="{% static 'images/social/youtube_h.png' %}" alt="">
                         </a>
                     </div>
                </div>
            </div>
        </div>
    </div>
 </header>